:root{
  --Strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --darker-grayish-cyan: hsl(186, 14%, 43%);
  --dark-gray-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --lighter-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table{
  display: flex;
  margin-top: 25%;
  justify-content: space-evenly;
  align-items: center;
  background: var(--white);
  height: 540px;
  width: 860px;
  border-radius: 24px;

  .input-info{
    font-weight: 700;
    color: var(--darker-grayish-cyan);
    margin-bottom: 12px;
  }
  #number-of-people{
    margin-top: 68px;
  }

  input{
    width: 240px;
    height: 30px;
    background: transparent;
    text-align: right;
    border: 0px solid transparent;
    font-size: 24px;
    font-family: "Space mono" , sans-serif;
    font-weight: bold;
    color: var(--very-dark-cyan);


    &:focus{
      outline: none;
    }
  }
  #custom{
    background: var(--lighter-grayish-cyan);
    height: 42px;
    width: 108px;
    border-radius: 8px;
    margin-left: 8px;
  }

  img{
    height: 18px;
    width: 20px;
    padding-left: 8px;
  }
  .input-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 42px;
    width: 360px;
    border-radius: 8px;
    background: var(--lighter-grayish-cyan);
  }
  #bill{
    margin-bottom: 58px;
  }

  .results-screen{
    background: var(--very-dark-cyan);
    border-radius: 8px;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .results-container {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 48px;
    flex-direction: row;
    justify-content: space-between;
  }

  .reset-button {
    display: flex;
    width: 80%;
    height: 120px;
    margin-bottom: 24px;

    justify-content: center;
    align-items: center;

    background: var(--Strong-cyan);
    border-radius: 8px;
    font-family: "Space mono";
    font-weight: 700;
    font-size: 24px;
    color: var(--very-dark-cyan);
    border: 1px solid var(--very-dark-cyan);
  }
  .result-tag{
    justify-content: center;
    align-items: center;
  }
  .title-result-tag{
    font-size: 18px;
    font-family: "Space Mono";
    font-weight: bold;
    color: var(--lighter-grayish-cyan);
  }
  .subtitle-result-tag{
    font-size: 12px;
    font-family: "Space Mono";
    font-weight: normal;
    color: var(--dark-gray-cyan);
  }
  h2 {
    font-size: 40px;
    color: var(--Strong-cyan);
  }
  .tip-button{
    background: var(--very-dark-cyan);
    color: var(--white);
    height: 42px;
    width: 108px;

    margin: 6px;
    border-radius: 4px;
    font-size: 22px;
    font-family: "Space mono" , sans-serif;

    border: 1px solid var(--lighter-grayish-cyan);

    
  }
  .pressed{
    background: var(--Strong-cyan);
    color: var(--very-dark-cyan);
  }
  
}

